#include <winres.h>
#include "resource_ip_dialog.h"

//
// Dialog
//

IDD_IP_INPUT DIALOGEX 0, 0, 200, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "서버 접속 및 대기"
// [변경] "MS Shell Dlg" -> "Malgun Gothic" (더 깔끔한 폰트)
FONT 9, "Malgun Gothic", 400, 0, 0x1
BEGIN
CONTROL         "서버 IP 주소:", IDC_STATIC_IP_PROMPT, "Static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 60, 8

// [중요 수정] "SysIPAddress32" -> "Edit"
// SysIPAddress32는 GetDlgItemText로 값을 못 가져옵니다. 일반 Edit 박스로 변경해야 코드가 작동합니다.
CONTROL         "", IDC_IPADDRESS_EDIT, "Edit", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | WS_BORDER, 70, 5, 120, 14

DEFPUSHBUTTON   "접속", IDOK_CONNECT, 7, 25, 60, 14
PUSHBUTTON      "취소", IDCANCEL_CONNECT, 133, 25, 60, 14

LISTBOX         IDC_PLAYER_LIST, 7, 45, 186, 120, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
PUSHBUTTON      "게임 시작", IDOK_START_GAME, 7, 170, 186, 20, WS_CHILD | WS_VISIBLE | WS_DISABLED
END